@use "../abstracts/variables" as *;

.about {
  &__content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;

    width: 75vw;
    
    gap: 0;
    
    &.content {
      margin-top: 2vw;
      
      @media (min-width: 900px){
        margin-top: 5vw;
      }
    }
    
    @media (max-width: 769px){
      margin-left: 5vw;
    }
    @media (min-width: 769px){
      margin-left: 25vw;
    }

    @media (min-width: 900px) {
      flex-direction: row;
      align-items: start;
      justify-content: start;
      gap: 0;
      margin-left: 25vw; 
    }
    
    & .img__about{
      background: no-repeat center/cover url("https://drive.google.com/uc?id=18edl6Iz5oUNX5pskJ7WsDbYwbdD5_-k_");
    }
  }
  
  &__placeholder {
    @media (max-width: 1334px){
      margin-left: 0;
      width: 50vw;
      height: 50vw;
    }
    
    @media (min-width: 900px){
      padding: 0;
      width: 40vw;
      height: 35vw;
    }

    @media (max-width: 769px){
      width: 75vw;
      height: 75vw;
    }
  }

  
  &__text {
  
    width: 60%;
    @media (max-width: 900px){
      width: 90%;
    }

   /*  display: flex;
    flex-direction: column;
    justify-content: start; */

    & p{
      margin-bottom: 3rem;
      //font-size: max(1.2rem, 1.35vw);
    }
    
    @media (min-width: 900px){
      
      width: 35vw;

      & p:first-of-type{
        padding-top: 0;
      }
      
      & p{
        margin-bottom: 0;
        padding: 2rem 2rem 0;
      }
    }
  }
}