@use "../mixins/grey-hover" as *;

.placeholder{
  width: min(70vw, 538px);
  height: min(70vw, 538px);
  padding-bottom: 3vh;

  &:hover{
    //opacity: .3;
  }

  background: no-repeat center/cover url("../../assets/placeholder.jpg");

  @media (min-width: 769px) and (max-width: 1334px){
    width: 40vw;
    height: 40vw;
    margin-left: 35vw;
  }

  @media (min-width: 1335px) {
    width: 35vw;
    height: 35vw;

    & p { 
      width: min(35vw, 350px);
      height: min(35vw, 350px);
    }
  }
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &:hover{
   // background-color: hsla(0, 0%, 0%, .7);
    cursor: pointer; 
  }
}

.mary{
  @include bckg-hover("https://instagram.fccs3-1.fna.fbcdn.net/v/t51.2885-15/98330043_278950809939801_3292678198098379865_n.jpg?stp=dst-jpg_e35&_nc_ht=instagram.fccs3-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=zyzIQO3s5pUAX9g1ci8&edm=ALQROFkBAAAA&ccb=7-5&ig_cache_key=MjMxNDIzMjY5MTQ5NDg2NzUyNw==.2-ccb7-5&oh=00_AT_nRUe3NirTZPpjMy0DSKBMlkzbW_kJhYbrikPL1sRwDw&oe=62E50D2F&_nc_sid=30a2ef");
}
.papa-angelo{
  @include bckg-hover(1BnSbn6ovylb1r6rzyHs8UzqBMt4PxNa6);
}
.stefan{
  @include bckg-hover(1dQd2cTKph22pG3LAOy2KU11NyBdyuPEt);
}
.ligia{
  @include bckg-hover("https://scontent.fccs3-1.fna.fbcdn.net/v/t1.6435-9/30261495_374119612996886_2439909270897033216_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=9267fe&_nc_ohc=58beweFIiycAX8ReSE2&_nc_ht=scontent.fccs3-1.fna&oh=00_AT-nVq5jO0_wGqXjJQrstINLYCdVCH91YIKF-PF10isv3w&oe=63042AAC");
}
.n-girasol{
  @include bckg-hover(1HNMf9SqoQIxqa7MUVZ7uphpNEWOFr_YS);
}
.viejita{
  @include bckg-hover("https://scontent.fccs3-2.fna.fbcdn.net/v/t1.6435-9/31100446_378623682546479_6261896201117892608_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9267fe&_nc_ohc=L4bidCeIhKUAX8dYVB9&_nc_ht=scontent.fccs3-2.fna&oh=00_AT_IFGL2HmV_KWm467oj3lDtp2DBD1un-sCLd_zCuo_qJA&oe=63028C22");
}
.sra{
  @include bckg-hover("https://scontent.fccs3-1.fna.fbcdn.net/v/t1.6435-9/92851930_808946556180854_3506076417559363584_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a26aad&_nc_ohc=FZ-qRjqoDqYAX8C8Aca&_nc_ht=scontent.fccs3-1.fna&oh=00_AT9cZ6CpNhMFI_ec3h_DHh0KqWRrCIn6nR7j1r9Zj8vxnA&oe=63035721");
}
.n-flores-pelo{
  @include bckg-hover(1CvCyu73zbaxMGaSbmWiiWc79K9L-Op_x);
}
.salto-angel{
  @include bckg-hover(1ESEQFiDaNGfm_MjlssAu3GX-BvnYpwA-);
}
.n-turbante{
  @include bckg-hover(1KQC9kwRbGfwHhKUlb9PU81sKq8X-Urex);
}
.tigre{
  @include bckg-hover(1P8NbBHuH_HtKJLafYeUzjjsBC6bF3erc);
}
.bebe{
  @include bckg-hover(1YX5Y1NohjiyfxUbwESLE0Hh1vnCwWQqq);
}
.afgana{
  @include bckg-hover(1v7KXfeIzjE4z67TGGVnzL4AZOdYkfhPn);
}
.n-afro{
  @include bckg-hover(1kKt-hsD5z30udmf1albbr3NoHqsugRHJ);
}
.lobo{
  @include bckg-hover(1RFDAirFd0_9a0lcHzWbabdO7GGyAiYsi);
}
.jirafas-solas{
  @include bckg-hover(1Za7a1BJeUo6_q3cVWF_hmX1JU406tzOt);
}