@use "../mixins/grey-hover" as *;

.placeholder{
  width: min(70vw, 538px);
  height: min(70vw, 538px);
  padding-bottom: 3vh;

  &:hover{
    //opacity: .3;
  }

  background: no-repeat center/cover url("../../assets/placeholder.jpg");

  @media (min-width: 769px) and (max-width: 1334px){
    width: 40vw;
    height: 40vw;
    margin-left: 35vw;
  }

  @media (min-width: 1335px) {
    width: 35vw;
    height: 35vw;

    & p { 
      width: min(35vw, 350px);
      height: min(35vw, 350px);
    }
  }
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &:hover{
   // background-color: hsla(0, 0%, 0%, .7);
    cursor: pointer; 
  }
}

.mary{
  @include bckg-hover("https://scontent.fccs3-2.fna.fbcdn.net/v/t1.6435-9/109069039_3043850339026413_7495791646231261170_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=IbERF6jq-I8AX9TKuaH&_nc_ht=scontent.fccs3-2.fna&oh=00_AT-2DwHJBjfd-RmFFRAbJdqxnMFDhme5VZ9Pun8F4VbPkg&oe=63035BC3");
}
.papa-angelo{
  @include bckg-hover("https://drive.google.com/uc?id=1BnSbn6ovylb1r6rzyHs8UzqBMt4PxNa6");
}
.stefan{
  @include bckg-hover("https://scontent.fccs3-1.fna.fbcdn.net/v/t1.6435-9/64329876_605376666537845_5175876495842738176_n.jpg?stp=dst-jpg_p526x296&_nc_cat=106&ccb=1-7&_nc_sid=9267fe&_nc_ohc=bF_sNlQW9_MAX-0kr5a&_nc_oc=AQnpZpqBn_kExdK5FvmN-XpIDQ_OuMZk5mCHmL7gFjSbSJeZR3b_m1Xbgoefa48n7Qk&_nc_ht=scontent.fccs3-1.fna&oh=00_AT-id6SiMLkO0OsFl6Upq-PTwkz9JJtHiIF0ZZl4XS4tnA&oe=6302E365");
}
.ligia{
  @include bckg-hover("https://scontent.fccs3-1.fna.fbcdn.net/v/t1.6435-9/30261495_374119612996886_2439909270897033216_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=9267fe&_nc_ohc=58beweFIiycAX8ReSE2&_nc_ht=scontent.fccs3-1.fna&oh=00_AT-nVq5jO0_wGqXjJQrstINLYCdVCH91YIKF-PF10isv3w&oe=63042AAC");
}
.n-girasol{
  @include bckg-hover("https://drive.google.com/uc?id=1HNMf9SqoQIxqa7MUVZ7uphpNEWOFr_YS");
}
.viejita{
  @include bckg-hover("https://scontent.fccs3-2.fna.fbcdn.net/v/t1.6435-9/31100446_378623682546479_6261896201117892608_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9267fe&_nc_ohc=L4bidCeIhKUAX8dYVB9&_nc_ht=scontent.fccs3-2.fna&oh=00_AT_IFGL2HmV_KWm467oj3lDtp2DBD1un-sCLd_zCuo_qJA&oe=63028C22");
}
.sra{
  @include bckg-hover("https://scontent.fccs3-1.fna.fbcdn.net/v/t1.6435-9/92851930_808946556180854_3506076417559363584_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a26aad&_nc_ohc=FZ-qRjqoDqYAX8C8Aca&_nc_ht=scontent.fccs3-1.fna&oh=00_AT9cZ6CpNhMFI_ec3h_DHh0KqWRrCIn6nR7j1r9Zj8vxnA&oe=63035721");
}
.n-flores-pelo{
  @include bckg-hover("https://scontent.fccs3-1.fna.fbcdn.net/v/t1.6435-9/68840037_644283209313857_2715371130184531968_n.jpg?stp=dst-jpg_p526x296&_nc_cat=103&ccb=1-7&_nc_sid=9267fe&_nc_ohc=LC1e7rlyVmoAX_wuDlV&_nc_ht=scontent.fccs3-1.fna&oh=00_AT_qTM0n5wRZVPt6HxxFlJGeFmgXa23YhirtJdlj16Rxrw&oe=63051095");
}
.salto-angel{
  @include bckg-hover("https://scontent.fccs3-2.fna.fbcdn.net/v/t1.6435-9/69590295_644294435979401_2562071949115129856_n.jpg?stp=dst-jpg_p552x414&_nc_cat=101&ccb=1-7&_nc_sid=9267fe&_nc_ohc=YoaNuYAg1HUAX_MNsU3&_nc_ht=scontent.fccs3-2.fna&oh=00_AT9eFmMp1vw5p0v6iuxM_rznSa_o7lO3NnqtDRvBzSYbEA&oe=63059364");
}
.n-turbante{
  @include bckg-hover("https://scontent.fccs3-1.fna.fbcdn.net/v/t31.18172-8/28515128_361739260901588_6780027012870103641_o.jpg?stp=dst-jpg_p526x296&_nc_cat=103&ccb=1-7&_nc_sid=9267fe&_nc_ohc=bEhTop4BfsYAX9QTNJP&tn=gYqD5NIbUgAnu8F6&_nc_ht=scontent.fccs3-1.fna&oh=00_AT_Y01fi-PIqiGwDTPgT1EP_KvGCojo0A3Vd9LbqFMDiBQ&oe=6302FBE0");
}
.tigre{
  @include bckg-hover("https://drive.google.com/uc?id=1P8NbBHuH_HtKJLafYeUzjjsBC6bF3erc");
}
.bebe{
  @include bckg-hover("https://scontent.fccs3-1.fna.fbcdn.net/v/t31.18172-8/28515907_363049167437264_2794544240292674873_o.jpg?stp=dst-jpg_p526x296&_nc_cat=104&ccb=1-7&_nc_sid=9267fe&_nc_ohc=rjx8y6Ct_fMAX9YpQME&_nc_ht=scontent.fccs3-1.fna&oh=00_AT80Wm2pbVYoRD9Ihdq7euHgSGAFXCTW6X-KPRgwcWRcqg&oe=63045050");
}
.afgana{
  @include bckg-hover("https://scontent.fccs3-2.fna.fbcdn.net/v/t31.18172-8/28515001_362572430818271_3476219043547078333_o.jpg?stp=dst-jpg_p526x296&_nc_cat=100&ccb=1-7&_nc_sid=9267fe&_nc_ohc=xmCcRCT3uhYAX9EiFbc&_nc_ht=scontent.fccs3-2.fna&oh=00_AT_rpC2rjEDJC37qYozFW4nxRjMy5smyG1LNSal8Ei8aEw&oe=6303EA07");
}
.n-afro{
  @include bckg-hover("https://scontent.fccs3-1.fna.fbcdn.net/v/t1.6435-9/64962345_607661916309320_4356615555759734784_n.jpg?stp=dst-jpg_p526x296&_nc_cat=109&ccb=1-7&_nc_sid=9267fe&_nc_ohc=Pb_l7NOaDYMAX8Bq7Vd&_nc_ht=scontent.fccs3-1.fna&oh=00_AT9TYj9cZA55vEKf2ydZR1uuVeWcGROtg7G5p0Winl4RDA&oe=6302704C");
}
.lobo{
  @include bckg-hover("https://scontent.fccs3-1.fna.fbcdn.net/v/t31.18172-8/28514407_361736690901845_676987968782285934_o.jpg?stp=dst-jpg_p526x296&_nc_cat=105&ccb=1-7&_nc_sid=9267fe&_nc_ohc=IIbbTIFl7zAAX8pxxBn&tn=gYqD5NIbUgAnu8F6&_nc_ht=scontent.fccs3-1.fna&oh=00_AT9aXY58Tc0GOH9DbkeDeSFaBKCWHZxCK2CxEK5LoOGJwg&oe=6303E489");
}
.jirafas-solas{
  @include bckg-hover("https://drive.google.com/uc?id=1Za7a1BJeUo6_q3cVWF_hmX1JU406tzOt");
}