@use "../mixins/grey-hover" as *;

.placeholder{
  width: min(70vw, 538px);
  height: min(70vw, 538px);
  padding-bottom: 3vh;

  &:hover{
    //opacity: .3;
  }

  background: no-repeat center/cover url("../../assets/placeholder.jpg");

  @media (min-width: 769px) and (max-width: 1334px){
    width: 40vw;
    height: 40vw;
    margin-left: 35vw;
  }

  @media (min-width: 1335px) {
    width: 35vw;
    height: 35vw;

    & p { 
      width: min(35vw, 350px);
      height: min(35vw, 350px);
    }
  }
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &:hover{
   // background-color: hsla(0, 0%, 0%, .7);
    cursor: pointer; 
  }
}

.mary{
  @include bckg-hover(1Enf55McxB8LnYrtmwHmISBI77I7gJkZG);
}
.papa-angelo{
  @include bckg-hover(1BnSbn6ovylb1r6rzyHs8UzqBMt4PxNa6);
}
.stefan{
  @include bckg-hover(1dQd2cTKph22pG3LAOy2KU11NyBdyuPEt);
}
.ligia{
  @include bckg-hover(1zFbhGkY0_-qL3fjHYh8fHocKgWjyOVwG);
}
.n-girasol{
  @include bckg-hover(1HNMf9SqoQIxqa7MUVZ7uphpNEWOFr_YS);
}
.viejita{
  @include bckg-hover(1moYHPIhSIk7_OY3aBo2z-bp_DFavKZna);
}
.sra{
  @include bckg-hover(1ra8-XbvhBptQWxRa8TZxoyntdtfWXTaC);
}
.n-flores-pelo{
  @include bckg-hover(1CvCyu73zbaxMGaSbmWiiWc79K9L-Op_x);
}
.salto-angel{
  @include bckg-hover(1ESEQFiDaNGfm_MjlssAu3GX-BvnYpwA-);
}
.n-turbante{
  @include bckg-hover(1KQC9kwRbGfwHhKUlb9PU81sKq8X-Urex);
}
.tigre{
  @include bckg-hover(1P8NbBHuH_HtKJLafYeUzjjsBC6bF3erc);
}
.bebe{
  @include bckg-hover(1YX5Y1NohjiyfxUbwESLE0Hh1vnCwWQqq);
}
.afgana{
  @include bckg-hover(1v7KXfeIzjE4z67TGGVnzL4AZOdYkfhPn);
}
.n-afro{
  @include bckg-hover(1kKt-hsD5z30udmf1albbr3NoHqsugRHJ);
}
.lobo{
  @include bckg-hover(1RFDAirFd0_9a0lcHzWbabdO7GGyAiYsi);
}
.jirafas-solas{
  @include bckg-hover(1Za7a1BJeUo6_q3cVWF_hmX1JU406tzOt);
}