@use "../abstracts/variables" as *;

input, textarea{
  padding: .5rem .5rem;
  border-radius: 5px;
  border: 1.5px solid $primary-gray;
  width: min(20rem, 60vw);
  margin-bottom: 1.5rem;
  margin-top: .5rem;
}

