@mixin bckg-hover($name) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://drive.google.com/uc?id=#{$name}");
  
  &:hover{
    background-image: 
    linear-gradient(to right, hsla(0, 0%, 0%, .5), hsla(0, 0%, 0%, .5)),
    url("https://drive.google.com/uc?id=#{$name}");
  }
}