@mixin bckg-hover($url) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url($url);
  
  &:hover{
    background-image: 
    linear-gradient(to right, hsla(0, 0%, 0%, .5), hsla(0, 0%, 0%, .5)), url($url);
  }
}